@import "compass";

$roboto-light: 200;
$roboto-regular: 400;
$robot-bold: 700;

$roboto-font-family: Roboto;
$roboto-file-path: './assets/Roboto-Regular.ttf';

$default-font-family: $roboto-font-family;

$line-height: 3;
